body {
  background: #f1f1f1;
  font-family: 'Patua One', cursive;
}

/* hides scroll bar */
body::-webkit-scrollbar {
  display: none;
}
.navbar-dark {
  background: red;
}

.navbar-nav {
  font-size: 36px;
}

.carousel .carousel-item {
  height: 500px;
}

.carousel .carousel-item img {
  position: center;
}

.carousel-inner > .carousel-item > img {
  width: 100%;
  height: 100vh;
}


.input-group {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.rounded {
  border-color: red;
  border-width: 2px;
}

.btn-outline-primary {
  color: red;
  border-color: red;
  background-color: white;
  border-width: 2px;
}

.btn-outline-primary:hover {
  background-color: red;
  border-color: red;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 60%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 40%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.btn-primary {
  background-color: white;
  border-color: red;
  color: red;
}

.btn-primary:hover {
  background-color: red;
  border-color: red;
}

.nav-link {
  font-size: 24px;
}

.btn-primary-1 {
  background-color: white;
  border-color: #6c782e;
  color: grey;
}

.btn-primary-1:hover {
  background-color: #474d31;
  border-color: #6c782e;
  color: white;
}

a:link {
  text-decoration: none;
}
/* Search Page Styles */
#search-bar {
  position: absolute;
  top: 60%;
  left: 25%;
  width: 50%;
}

#search-btn {
  position: absolute;
  top: 60%;
  left: 75%;
}

#search-logo {
  position: absolute;
  height: 700px;
  left: 27%;
  bottom: 18%;
}

#search-icon {
  height: 20px;
}

/*CSS for report a problem page */

#rap body {
  background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.wagwalkingweb.com%2Fmedia%2Farticles%2Fcity_walking%2FNY%2Ftroy%2Fdog-walking-troy-ny.jpg&f=1&nofb=1) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(2px);
}

#rap form {
  background: white;
}

#rap h4 {
  color: cornsilk;
}

.search_table {
  font-size: 26px;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
